  # Ignore node_modules directory
    node_modules/

    # Ignore .env files (containing environment variables)
    .env

    # Ignore log files
    *.log

    # Ignore macOS system files
    .DS_Store

    # Ignore build output
    dist/
    build/
